<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>safe guard page </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"/>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/guard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/safeGurad.js" defer></script>

</head>
<body>

    <!-- navigation bar  -->
    <header>
      <div class="navbar">
          <div class="logo">
              <img src="/images/logo/aau-logo.png" alt="aau-logo" width="60px" />
          </div>
          <ul class="nav-links">
              <li><a href="#profile">Home</a></li>
              <li><a href="#verification">Verification</a></li>
              <li><a href="#student-info">Student info</a></li>
              <li><a href="#alert" class="alert">Alert</a></li>
              <li class="dropdown">
                  <div class="user-dropdown">
                      <i class="fa-regular fa-user"></i>
                      <i class="fa-solid fa-caret-down"></i>
                  </div>
                  <ul class="dropdown-menu">
                      <li><a href="#manage_account"><i class="fa-solid fa-lock"></i> Change Password</a></li>
                      <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                  </ul>
              </li>
          </ul>

          <div class="toggle-btn">
              <i class="fa-solid fa-bars"></i>
          </div>
      </div>

      <div class="dropdown-menu-mobile">
          <li><a href="#profile">Home</a></li>
          <li><a href="#verification">Verification</a></li>
          <li><a href="#student-info">Student info</a></li>
          <li><a href="#alert" class="alert"></a>>Alert</a></li>
          <li class="dropdown">
              <a href="#"><i class="fa-regular fa-user"></i> <i class="fa-solid fa-caret-down"></i> </a>
              <ul class="dropdown-menu">
                  <li><a href="#manage_account"><i class="fa-solid fa-lock"></i> Change Password</a></li>
                  <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
              </ul>
          </li>
      </div>
  </header>
    

    <!-- users profile section  -->

   
    
  <section class="profile" id="profile">
    <% if(locals.guard) {%>
    <div class="container">
        <div class="profile-pic"> <img src="/images/uploads/<%=guard.file_name %>" alt="picture" width="200px"></div>
        <div class="details">
            <p><strong>Full Name:</strong><%= guard.guard_name %></p>
            <p><strong>ID No:</strong> <%= guard.guard_id %></p>
            <p><strong>SSN:</strong> <%= guard.guard_ssn %></p>
            <p><strong>Email:</strong> <%= guard.email %></p>
            <p><strong>Phone NO:</strong><%= guard.phone_no %></p>
          </div>
    </div>
    <% } %>
</section>


    <!-- laptop verification section    -->


    <section class="verification" id="verification" >
        <div class="container checking">
            <form action="/verify" method="post" id="verify">
                <div class="form-group">
                    <label for="pc-serival">Enter PC serial :</label>
                    <input type="text" name="pc_serial" id="serial_no" placeholder="Eg: PC001" autofocus/>
                </div>
                <div class="form-group">
                    <label for="pc-serival">Enter Student ID:</label>
                   <input type="text" name="student_id" id="student_id" placeholder="Eg: UGR/0000/16" autofocus/>
                </div> 
                <div class="server-message">
                    <div class="server message"></div>
                  </div>
                <button type="submit" class="btn" style="display: block">
                  Continue
                </button> 
            </form>
        </div>
    </section>


    
          
          <!-- student information  -->

          <section id="student-info">
            <div class="container" id="checking-container" style="flex-direction: column;">
                <form action="/studentInfo" method="post">
                    <div class="form-group">
                        <label for="student_id">Enter Student ID:</label>
                        <input type="text" name="student_id" placeholder="Enter ID" required autofocus/>
                    </div>
                    <div class="server-message">
                        <div class="server message"></div>
                    </div>
                    <button type="submit" class="btn">Continue</button>
                </form>
              
            </div>
            <div class="container student-info" style="display: none;"></div>
        </section>


        <section id="alert">
            <h2>no new alert!</h2>
            <div class="container alert" style="display:none">
             <h1>New laptop lost report!</h1>
             <div class="pc-info">
            </div>
            </div>
        </section>
        

          <section id="manage_account">
            <div class="container" id="change-password-container">
                <form id="change-password-form" action="/changePassword" method="post">
                    <div class="form-group">
                        <label for="current_password">Current Password:</label>
                        <input type="password" name="current_password" id="current_password" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password:</label>
                        <input type="password" name="new_password" id="new_password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_new_password">Confirm New Password:</label>
                        <input type="password" name="confirm_new_password" id="confirm_new_password" required>
                    </div>
                    <div class="error" >
                      <p style=" display:none;" id="error-message">Passwords do not match.try again!</p>
                    </div>
                    <button type="submit" class="btn">Change Password</button>
                    <div class="server-message">
                      <div class="server message"></div>
                    </div>
                </form>
            </div>
        </section>
</body>
</html>