<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student page </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <script src="/scripts/student.js" defer></script>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/student.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body>

    <!-- navigation bar  -->
    <header>
      <div class="navbar">
          <div class="logo">
              <img src="/images/logo/aau-logo.png" alt="aau-logo" width="60px" />
          </div>
          <ul class="nav-links">
              <li><a href="#profile">Home</a></li>
              <li><a href="#register-pc">Register PC</a></li>
              <li><a href="#update-pc">Update Pc</a></li>
              <li><a href="#report">Report</a></li>
              <li class="dropdown">
                  <div class="user-dropdown">
                      <i class="fa-regular fa-user"></i>
                      <i class="fa-solid fa-caret-down"></i>
                  </div>
                  <ul class="dropdown-menu">
                      <li><a href="#manage_account"><i class="fa-solid fa-lock"></i> Change Password</a></li>
                      <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                  </ul>
              </li>
          </ul>

          <div class="toggle-btn">
              <i class="fa-solid fa-bars"></i>
          </div>
      </div>

      <div class="dropdown-menu-mobile">
        <li><a href="#profile">Home</a></li>
        <li><a href="#register-pc">Register PC</a></li>
        <li><a href="#update-pc">Update Pc</a></li>
        <li><a href="#report">Report</a></li>
          <li class="dropdown">
              <a href="#"><i class="fa-regular fa-user"></i> <i class="fa-solid fa-caret-down"></i> </a>
              <ul class="dropdown-menu">
                  <li><a href="#manage_account"><i class="fa-solid fa-lock"></i> Change Password</a></li>
                  <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
              </ul>
          </li>
      </div>
  </header>
    

    


  <!-- users profile section  -->

  <section class="profile" id="profile">
    <% if(locals.student) {%>
    <div class="container student-info">
        <div class="profile-pic"> <img src="<%=student.pic_url %>" alt="student picture" width="200px"></div>
        <div class="details">
            <p><strong>Full Name:</strong><%= student.full_name %></p>
            <p><strong>ID No:</strong> <%= student.id %></p>
            <p><strong>Department:</strong> <%= student.department %></p>
            <p><strong>Year:</strong><%= student.year %></p>
            <p><strong>Email:</strong> <%= student.email %></p>
          </div>
    </div>
    <% } %>
</section>

    <!-- laptop register pc section    -->


    <section id="register-pc" class="register-pc">
        
        <div class="container register-pc">
          <h2>Register Your PC</h2>
        <form action="/registerPc" method="post">
          <div class="form-body">
            <div class="form-left">
              <div class="form-group">
                <label for="pc-model">PC Model:</label>
                <input type="text"_ name="pc_model" placeholder="Enter PC Model" required="">
              </div>
              <div class="form-group">
                <label for="pc-brand">PC Brand:</label>
                <input type="text" id="pc-brand" name="pc_brand" placeholder="Enter PC Brand" required="">
              </div>
              <div class="form-group">
                <label for="pc-serial">PC Serial Number:</label>
                <input type="text" id="pc-serial" name="pc_serial" placeholder="Enter PC Serial Number" required="">
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                id="student_id"
                name="student_id"
                hidden
                value="<%=student.id %>"
              />
            </div>
            <div class="form-right">
              <label for="pc-image" class="image-label">PC Image:</label>
              <div class="image-preview" id="image-preview">
                <label for="pc-image" class="file-input">Choose an image</label>
                <input type="file" id="pc-image" name="pc-image" accept="image/*">
             </div>
            </div>
            </div>
            <div class="server-message">
              <div class="server message"></div>
            </div>
          <button type="submit" class="btn">Submit</button>
        </form>
       
      </section>
      <section id="update-pc">
        <% if(locals.pcs){%>
        <h2 style="margin-bottom:2rem;">Currently Registered PC</h2>
        <div class="update-pc-container">
            <% pcs.forEach(pc => { %>
            <div class="pc-card">
                <h4 class="laptop-type"><%= pc.brand %></h4>
                <form class="edit-form" action="/edit" method="post">
                    <div class="pc-info">
                      <div class="form-group">
                        <label for="PcSerial<%= pc.serial %>">PC Serial:</label>
                        <input type="text" id="PcSerial<%= pc.serial %>" name="PcSerial" value="<%= pc.serial %>" readonly>
                     </div>
                    
                        <div class="separator"></div>
                        <div class="form-group">
                            <label for="PcModel<%= pc.serial %>">PC Model:</label>
                            <input type="text" id="PcModel<%= pc.serial %>" name="PcModel" value="<%= pc.model %>" readonly>
                        </div>
                        <div class="separator"></div>
                        <div class="form-group">
                            <label for="PcBrand<%= pc.serial %>">PC Brand:</label>
                            <input type="text" id="PcBrand<%= pc.serial %>" name="PcBrand" value="<%= pc.brand %>" readonly>
                        </div>
                        <div class="server-message">
                          <div class="server message"></div>
                        </div>
                        <div class="btns">
                            <button type="button" class="edit-btn btn">Edit</button>
                            <button type="button" class="delete-btn btn delete">Delete</button>
                            <button type="submit" class="submit-btn btn">Submit</button>
                        </div>
                    </div>
                    <button type="button" class="details-btn btn" data-serial="<%= pc.serial %>">Details</button>
                </form>
            </div>
            <% }); %>
        </div>
       <% } else {%>
        <h2 style="margin-bottom:2rem;">Currently you haven't Registered PC</h2>
        <% } %>
    </section>
    
    
    <section id="report" class="report">
        <div class="container report">
          <h2>Report for lost PC</h2>
          <form id="pc-form" action="/reportStolenPc" method="post">
            <div class="form-group">
              <label for="pc_serial">PC Serial Number:</label>
              <input
                type="text"
                id="pc_serial"
                name="pc_serial"
                required
              />
            </div>
            <div class="form-group">
              <label for="pc_model">PC Model:</label>
              <input
                type="text"
                id="pc_model"
                name="pc_model"
                required
              />
            </div>
            <div class="form-group">
              <label for="pc-brand">PC Brand:</label>
              <input
                type="text"
                id="pc_brand"
                name="pc_brand"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                id="student_id"
                name="student_id"
                hidden
                value="<%=student.id %>"
              />
            </div>
            <div class="server-message">
              <div class="server message"></div>
            </div>
            <button type="submit" class="btn">Report</button>
            
          </form>
          
        </div>
      </section>
    
         

          
          <section id="manage_account">
            <div class="container" id="change-password-container">
                <form id="change-password-form" action="/changePassword" method="post">
                    <div class="form-group">
                        <label for="current_password">Current Password:</label>
                        <input type="password" name="current_password" id="current_password" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password:</label>
                        <input type="password" name="new_password" id="new_password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_new_password">Confirm New Password:</label>
                        <input type="password" name="confirm_new_password" id="confirm_new_password" required>
                    </div>
                    <div class="error" >
                      <p style=" display:none;" id="error-message">Passwords do not match.try again!</p>
                    </div>
                    <div class="form-group">
                      <input type="text" id="student_id"  name="student_id"  hidden value="<%=student.id %>" />
                    </div>
                    <button type="submit" class="btn">Change Password</button>
                    <div class="server-message">
                      <div class="server message"></div>
                    </div>
                </form>
            </div>
        </section>

</body>
</html>